<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IqraCommerce</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="screen">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IqraCommerce</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

        <aside class="main-sidebar" style="background: black">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        @*<img src="~/Content/Img/LazzPharma.ico" class="img-circle" />*@
                    </div>
                    <div class="pull-left info">
                        @*<p>Welcome</p>
                <a href="#">@User.Identity.GetUserName()</a>*@
                    </div>
                </div>

                <ul id="menu_container" class="sidebar-menu" data-widget="tree">
                    @RenderSection("MenuItems", required: false)
                </ul>
                <script src="~/Content/Theme/Js/adminlte.min.js"></script>
                <script src="~/Content/Scripts/bootstrap.min.js"></script>
                <link href="~/Content/IqraService/CSS/Window.css" rel="stylesheet" />
            </section>
        </aside>
        <div class="container">

            <script src="~/lib/IqraService/Js/IqraConfig.js"></script>
            <script src="~/lib/IqraService/Js/Global.js"></script>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <script src="~/js/UserProfile.js"></script>
        </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IqraCommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
